<div class="notes-index-container">
  <h1><%= @user.add_s%> Notes</h1>
  <%= form_tag notes_path, method: :get do %>
  <%= text_field_tag :search_term %>
  <%= submit_tag "Search" %>
  <% end %>
  <ul>
    <% @notes.each do |note| %>
    <li><%= link_to note.title, note_path(note) %> -<%= note.short_date %></li>
    <% end %>
  </ul>
  <%# <div class="btn btn-primary"> %>
    <%= link_to "Create Note", new_note_path, class: "btn btn-primary"%>
  <%# </div> %>
</div>
