<!-- >
<h1>Hi, <%= @user.first_name %>!</h1>
<h2>What would you like to do?</h2>
<%= button_to "Generate Resume", new_resume_path, method: :get %><br><br>
<%= button_to "Take note", new_note_path, method: :get %><br><br>
<%= button_to "Practice", practices_path, method: :get %><br><br>
<%= button_to "Track Job Aplication", new_job_tracker_path, method: :get%><br><br>
-->
<div class="container account-page-container">
    <div class="row account-page-header">
        <div class="col-xl">
          <h1>Hi, <%= @user.first_name %>!</h1>
          <h2>What would you like to do?</h2>
        </div>
    </div>
    <div class="row account-page-row">
        <div class="col-6">
            <div class="card" style="width: 18rem;">
            <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
                <div class="card-body">
                    <h5 class="card-title">Generate Resume</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
                    <%= button_to "Generate Resume", new_resume_path, method: :get, class: "btn btn-primary" %>
                </div>
            </div>    
        </div>
        <div class="col-6">
            <div class="card" style="width: 18rem;">
            <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
                <div class="card-body">
                    <h5 class="card-title">Take Notes</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
                    <%= button_to "Take note", new_note_path, method: :get, class: "btn btn-primary" %>
                </div>
            </div>
        </div>
    </div>
    <div class="row account-page-row">
        <div class="col-6">
            <div class="card" style="width: 18rem;">
            <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
                <div class="card-body">
                    <h5 class="card-title">Practice</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
                    <%= button_to "Practice", practice_path, method: :get, class: "btn btn-primary" %>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card" style="width: 18rem;">
            <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
                <div class="card-body">
                    <h5 class="card-title">Track Job Applications</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
                <%= button_to "Track Job Aplication", new_job_tracker_path, method: :get, class: "btn btn-primary"%>  
                </div>
            </div>
        </div>
    </div>    
</div>   
    <%# </div> 
</div> %>
